<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.theantiquersroom.myapp.mapper.AdminMapper">

    <!-- 승인요청상품 게시판 총 목록개수 반환 -->
    <select
        id="getRequestedListTotal"
        resultType="int">
        
        <![CDATA[

            SELECT count(p_id)
            FROM product
            WHERE status='승인대기중' OR status='승인완료' OR status='승인반려'

        ]]>
    </select>

    <!-- 관리자 승인요청상품 조회 -->
    <select
        id="getRequestedList"
        resultType="com.theantiquersroom.myapp.domain.ProductDTO">

        <![CDATA[ 

            SELECT
            	A.p_id as pId,
                A.name,
                A.created_at as createdAt,
                A.updated_at as updatedAt,
                A.content,
                A.category_id as categoryId,
                A.user_id as userId,
                A.started_at as startedAt,
                A.ended_at as endedAt,
                A.started_price as startedPrice,
                A.bid_increment as bidIncrement,
                A.status,
                (select nickname from users as B where B.USER_ID=A.USER_ID) as nickname,
                (select category_name from category as C where C.category_id=A.category_id) as categoryName
            FROM product as A
            WHERE status='승인대기중' OR status='승인완료' OR status='승인반려'
            ORDER BY A.created_at DESC
            LIMIT #{pageStart}, #{amount}

        ]]>
    </select>   
    
    <!-- 승인요청 상품 경매상태 변경 -->
    <update id="updateStatus">
    

        UPDATE product
        SET 
            status='승인완료'
        WHERE
            p_id = #{pId}

    </update>
    
    <!-- 승인반려 상품 경매상태 변경 -->
    <update id="rejectRequest">
    

        UPDATE product
        SET 
            status='승인반려'
        WHERE
            p_id = #{pId}

    </update>
    
    
</mapper>