<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.theantiquersroom.myapp.mapper.AdminMapper">

    <!-- 승인요청상품 게시판 총 목록개수 반환 -->
    <select
        id="getRequestedListTotal"
        resultType="int">
        
        <![CDATA[
        
            SELECT count(p_id)
            FROM product
            WHERE status='승인대기중' OR status='승인완료' OR status='승인반려'
            
        ]]>
    </select>

    <!-- 관리자 승인요청상품 조회 -->
    <select
        id="getRequestedList"
        resultType="com.theantiquersroom.myapp.domain.ProductDTO">

        <![CDATA[ 

            SELECT
            	A.p_id as pid,
                A.name,
                A.created_at as createdAt,
                A.updated_at as updatedAt,
                A.content,
                A.category_id as categoryId,
                A.user_id as userId,
                A.started_at as startedAt,
                A.ended_at as endedAt,
                A.started_price as startedPrice,
                A.bid_increment as bidIncrement,
                A.status,
                (select nickname from users as B where B.USER_ID=A.USER_ID) as nickname,
                (select category_name from category as C where C.category_id=A.category_id) as categoryName,
                (select image_url from product_image as D where D.p_id=A.p_id order by D.index limit 1) as imageUrl
            FROM product as A
            WHERE status='승인대기중' OR status='승인완료' OR status='승인반려'
            ORDER BY field(A.status, '승인대기중', '승인완료', '승인반려'), A.created_at DESC
            LIMIT #{pageStart}, #{amount}

        ]]>
    </select>   
    
    <!-- 승인요청 상품 경매상태 변경 -->
    <update id="updateStatus">

        UPDATE product
        SET 
            status='승인완료'
        WHERE
            p_id = #{pid}

    </update>
    
    <!-- 승인반려 상품 경매상태 변경 -->
    <update id="rejectRequest">

        UPDATE product
        SET 
            status='승인반려'
        WHERE
            p_id = #{pid}

    </update>
    
    <!-- 경매상품 총 목록개수 반환 -->
    <select
        id="getAuctionTotal"
        resultType="int">
        
        <![CDATA[
            SELECT count(p_id)
            FROM product as A
            LEFT OUTER JOIN users B ON A.user_id=B.user_id
        ]]>   
        
       		<choose>
       			<when test ="(status == null or status.equals('')) and (keyword == null or keyword.equals(''))">
           			WHERE status NOT IN ('승인대기중', '승인반려')
       			</when>
	       		<when test = "(status != null or !status.equals('')) and (keyword !=null or !keyword.equals(''))">
	       			WHERE status = #{status}
	       			AND (nickname LIKE CONCAT('%',#{keyword},'%') OR name LIKE CONCAT('%',#{keyword},'%'))
	       		</when>
	       		<when test = "(status != null or !status.equals('')) and (keyword == null or keyword.equals(''))">
	       			WHERE status = #{status}
	       		</when>
	       		<when test = "(status == null or status.equals('')) and (keyword !=null or !keyword.equals(''))">
	      			WHERE status NOT IN ('승인대기중', '승인반려')
	       			AND (nickname LIKE CONCAT('%',#{keyword},'%') OR name LIKE CONCAT('%',#{keyword},'%'))
	       		</when>
	       		<otherwise>
           			WHERE status NOT IN ('승인대기중', '승인반려')
	       		</otherwise>
       		</choose>
            
    </select>

    <!-- 관리자 경매상품 조회 -->
    <select
        id="getAuctionProductList"
        resultType="com.theantiquersroom.myapp.domain.ProductDTO">

        <![CDATA[ 
            SELECT
            	A.p_id as pid,
                A.name,
                A.created_at as createdAt,
                A.updated_at as updatedAt,
                A.content,
                A.category_id as categoryId,
                A.user_id as userId,
                A.started_at as startedAt,
                A.ended_at as endedAt,
                A.started_price as startedPrice,
                A.bid_increment as bidIncrement,
                A.status,
                B.nickname,
                (select category_name from category as C where C.category_id=A.category_id) as categoryName,
                (select image_url from product_image as D where D.p_id=A.p_id order by D.index limit 1) as imageUrl,
                (select bid_price from bid_history as E where E.p_id=A.p_id order by E.bid_price desc limit 1) as currPrice
            FROM product as A
            LEFT OUTER JOIN users B ON A.user_id=B.user_id
        ]]>  
       		<choose>
       			<when test ="(status == null or status.equals('')) and (keyword == null or keyword.equals(''))">
           			WHERE status NOT IN ('승인대기중', '승인반려')
       			</when>
	       		<when test = "(status != null or !status.equals('')) and (keyword !=null or !keyword.equals(''))">
	       			WHERE status = #{status}
	       			AND (nickname LIKE CONCAT('%',#{keyword},'%') OR name LIKE CONCAT('%',#{keyword},'%'))
	       		</when>
	       		<when test = "(status != null or !status.equals('')) and (keyword == null or keyword.equals(''))">
	       			WHERE status = #{status}
	       		</when>
	       		<when test = "(status == null or status.equals('')) and (keyword !=null or !keyword.equals(''))">
	      			WHERE status NOT IN ('승인대기중', '승인반려')
	       			AND (nickname LIKE CONCAT('%',#{keyword},'%') OR name LIKE CONCAT('%',#{keyword},'%'))
	       		</when>
	       		<otherwise>
           			WHERE status NOT IN ('승인대기중', '승인반려')
	       		</otherwise>
       		</choose>
                
        <![CDATA[                 
            ORDER BY created_at DESC
            LIMIT #{pageStart}, #{amount}
        ]]>
    </select>  
    
    <!-- 경매상품 판매종료로 상태 변경 -->
    <update id="stopSale">
    
        UPDATE product
        SET 
            status='판매취소'
        WHERE
            p_id = #{pid}

    </update>

  
    <!-- 회원 목록 조회 -->
    <select id="selectUserList"
            resultType="com.theantiquersroom.myapp.domain.UserDTO">
        
        <![CDATA[ 
            SELECT *
            FROM users
            LIMIT #{pageStart}, #{amount}
        ]]>
    </select>

    <!-- 전체 회원수 조회 -->
    <select id="getTotalUsersCount"
    		resultType="int">
        
        <![CDATA[ 
            SELECT count(user_id) FROM users
        ]]>
    </select>

    <select id="selectUserByNick"
            parameterType="string"
            resultType="com.theantiquersroom.myapp.domain.UserVO">
        
        <![CDATA[
            SELECT user_id, nickname as nickName, phone 
            FROM users
            WHERE nickname
            LIKE CONCAT('%',#{nickName},'%')
        ]]>
    </select>
  
</mapper>