<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.theantiquersroom.myapp.mapper.BoardMapper">

    <!-- 문의게시판 목록 조회 -->
    <select
        id="getQnAList"
        resultType="com.theantiquersroom.myapp.domain.QnADTO">
        
        <![CDATA[

            SELECT
				bindex,
				created_at as createdAt,
				updated_at as updatedAt,
				title,
				content,
				ref,
				depth,
				step,
				author,
				p_id as pId

            FROM board
			ORDER BY ref DESC, step ASC
        ]]>
    </select>
    
    <!-- 문의게시글 등록 -->
    <insert
    		 id="registerQnA" 
    		 parameterType="com.theantiquersroom.myapp.domain.QnADTO">
    		 
    	<selectKey resultType="int" keyProperty="ref" order="BEFORE">
    		SELECT IFNULL(MAX(ref),0) + 1
    		FROM board
    	</selectKey>
    		 
        <![CDATA[
            INSERT INTO board
            (
				bindex,
				created_at,
				updated_at,
				title,
				content,
				ref,
				author,
				p_id 
            )
            VALUES
            (
               #{bindex},
                now(),
             	now(),
                #{title},
                #{content},
                #{ref},
                #{author},
                #{pId}

            )
        ]]>
    </insert>
    
    <!-- 문의게시물 목록(페이징) -->
    <select id="getQnAListPaging" resultType="com.theantiquersroom.myapp.domain.QnADTO">
    
                select bindex, created_at as createdAt, updated_at as updatedAt, title, content, ref, depth, step, author, p_id as pId
                from board order by ref desc, step asc
        <!-- limit ((${pageNum}-1)*${amount}), ${amount} -->
        limit #{skip},#{amount}
    
    </select>
    
    <!-- 문의게시물 총 갯수 -->
    <select id="getQnATotal" resultType="int">
    
        select count(*) from board
    
    </select>
    
    <!-- 문의게시물 조회 -->
    <select id="getQnADetail" resultType="com.theantiquersroom.myapp.domain.QnADTO">
    
        select * from board where bindex = #{bindex}
    
    </select>
    
     <!-- 문의게시글 수정 -->
    <update id="modifyQnA" >
    
		update board set title=#{title}, content=#{content}, updated_at = now() where bindex = #{bindex}
    
    </update>
    
     <!-- 문의게시글 삭제 -->
    <delete id="removeQnA">
    
        delete from board where bindex = #{bindex}
    
    </delete>
    
	<!-- 게시글 답글을 등록하는 쿼리 -->
	<insert id="registerReQnA" parameterType="com.theantiquersroom.myapp.domain.QnADTO">
	    	
		insert into board
		(created_at, updated_at, title, content,ref, depth, step, author, p_id)
		VALUES
		(now(), now(), #{title},#{content},#{ref},1,(SELECT count(*) from board as B where B.ref = #{ref}),#{author},#{pId});
		 
	</insert>
      
</mapper>


