<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.theantiquersroom.myapp.mapper.ImageMapper">

    <insert id="insertImage"
            parameterType="com.theantiquersroom.myapp.domain.ImageDTO">
    <![CDATA[
        insert into image(image_id, image_name, upload_path, p_id,)
        VALUES (#{imageId} ,#{imageName}, #{uploadPath}, #{pId})
        ]]>
    </insert>

    <delete id="delete">
        delete from image where image_id = #{imageId}
    </delete>

    <select id="findByPId"
            parameterType="com.theantiquersroom.myapp.domain.ImageDTO">
        select * from image where p_id = #{pId}
    </select>

</mapper>