<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.theantiquersroom.myapp.mapper.ImageMapper">

<!--    이미지 등록-->
    <insert id="insertImage"
            parameterType="com.theantiquersroom.myapp.domain.ProductImageDTO">
    <![CDATA[
        INSERT INTO image(index, image_name, upload_path, p_id)
        VALUES (#{index} ,#{imageName}, #{uploadPath}, #{pid})
        ]]>
    </insert>

    <update id="updateImage"
            parameterType="com.theantiquersroom.myapp.domain.ProductImageDTO">
        <![CDATA[
            UPDATE image SET
                 image_name=#{imageName},
                 upload_path=#{uploadPath},
            WHERE p_id=#{pid}
        ]]>
    </update>
</mapper>