<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.theantiquersroom.myapp.mapper.ProductMapper">

    <insert id="insertProduct"
            parameterType="com.theantiquersroom.myapp.domain.ProductFormDTO">

    <![CDATA[
            insert into product(name, content, category_id, user_id, started_at, ended_at, started_price, bid_increment, status)
            VALUES (#{name}, #{content}, #{categoryId}, #{userId}, #{startedAt}, #{endedAt}, #{startedPrice}, #{bidIncrement}, "REQUESTED")
        ]]>
    </insert>
    
    <select id="getDetailByPId"
            resultType="com.theantiquersroom.myapp.domain.ProductDTO">
        
        <![CDATA[ 
            SELECT 
                P.p_id as pId,
                P.name,
                P.created_at as createdAt,
                P.updated_at as updatedAt,
                P.content,
                P.category_id as categoryId,
                P.user_id as userId,
                P.started_at as startedAt,
                P.ended_at as endedAt,
                P.started_price as startedPrice,
                P.bid_increment as bidIncrement,
                P.status,
                (SELECT nickname 
                FROM users as U
                WHERE U.user_id=P.user_id) as nickname
            FROM product as P
            WHERE p_id=#{pId}
        ]]>
    </select>

</mapper>