<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.theantiquersroom.myapp.mapper.UserMapper">

    <!-- 전체 회원 목록 조회 -->
    <select
            id="getUserList"
            resultType="com.theantiquersroom.myapp.domain.UserDTO">

       <![CDATA[
            select
                user_id as userId,
                password,
                nickname,
                phone,
                user_type as userType
            from users
       ]]>

    </select>

    <!-- 회원가입 -->
    <insert
            id="insertUser"
            parameterType="com.theantiquersroom.myapp.domain.UserDTO">

        <![CDATA[
            INSERT INTO USERS(USER_ID, PASSWORD, NICKNAME, PHONE, USER_TYPE)
            VALUES (#{userId}, #{password}, #{nickName}, #{phone}, #{userType})
        ]]>

    </insert>

    <!-- 인증번호 INSERT-->
    <insert
            id="insertAuthorizationNumber"
            parameterType="string"
    >

        <![CDATA[
        REPLACE INTO authkey(userid, auth, updatedate)
        VALUES (#{userId}, #{auth}, now())
        ]]>
    </insert>

    <!-- emailchecktemp table의 auth 조회 -->
    <select id="selectAuth"
            parameterType="String"
            resultType="String"
    >
        <![CDATA[
                SELECT auth from authkey
                WHERE userId = #{userId}
                AND updatedate BETWEEN DATE_SUB(now(), interval 3 minute) AND now()
        ]]>

    </select>

    <!-- 비밀번호 재설정  -->
    <update
            id="updatePassword"
            parameterType="String"
    >
        <![CDATA[
        UPDATE users SET password = #{newPassword} where user_id = #{userId}
        ]]>
    </update>
    <!-- 특정 아이디의 닉네임 조회  -->
    <select
            id="selectUserNickname"
            resultType="string"
            parameterType="string"
    >
        <![CDATA[

          SELECT nickname FROM users WHERE user_id = #{userId}

        ]]>

    </select>

    <!-- 특정 아이디 조회 -->
    <select
            id="getUserId">

        <![CDATA[

        ]]>
    </select>

    <!-- 특정 닉네임 조회 -->
    <select
            id="getNickName">

        <![CDATA[

        ]]>
    </select>

    <!-- 특정 연락처 조회 -->
    <select
            id="getPhone">

        <![CDATA[

        ]]>
    </select>

    <!-- 로그인 -->
    <select
            id="login"
            resultType="com.theantiquersroom.myapp.domain.UserVO"
            parameterType="string">

        <![CDATA[
            SELECT *
            FROM users
            WHERE user_id=#{userId}
        ]]>
    </select>



</mapper>