<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.theantiquersroom.myapp.mapper.UserMapper">

    <!-- 전체 회원 목록 조회 -->
    <select
            id="getUserList"
            resultType="com.theantiquersroom.myapp.domain.UserDTO">

       <![CDATA[
            SELECT
                user_id as userId,
                password,
                nickname,
                phone,
                user_type as userType
            FROM users
       ]]>
    </select>

    <!-- 회원가입 -->
    <insert
            id="insertUser"
            parameterType="com.theantiquersroom.myapp.domain.UserDTO">

        <![CDATA[
            INSERT INTO users(USER_ID, PASSWORD, NICKNAME, PHONE, USER_TYPE)
            VALUES (#{userId}, #{password}, #{nickName}, #{phone}, 2)
        ]]>
    </insert>

    <!-- 인증번호 INSERT-->
    <insert
            id="insertAuthorizationNumber"
            parameterType="string">

        <![CDATA[
	        REPLACE INTO authkey(userid, auth, updatedate)
	        VALUES (#{userId}, #{auth}, now())
        ]]>
    </insert>

    <!-- emailchecktemp table의 auth 조회 -->
    <select id="selectAuth"
            parameterType="string"
            resultType="string">
            
        <![CDATA[
            SELECT auth from authkey
            WHERE userId = #{userId}
            AND updatedate BETWEEN DATE_SUB(now(), interval 3 minute) AND now()
        ]]>
    </select>

    <!-- 비밀번호 재설정  -->
    <update
            id="updatePassword"
            parameterType="string">
            
        <![CDATA[
        	UPDATE users SET password = #{newPassword} where user_id = #{userId}
        ]]>
    </update>

    <!-- 특정 아이디 조회 -->
    <select
            id="getUserId"
            resultType="string"
            parameterType="string"
    >
        <![CDATA[
			
		  SELECT user_id FROM users WHERE user_id = #{userId}
		  
        ]]>
    </select>

    <!-- 특정 닉네임 조회 -->
    <select
            id="getNickName"
            resultType="String"
			parameterType="String"          
    >
        <![CDATA[
        
        	SELECT nickname FROM users WHERE nickname = #{nickname}

        ]]>
    </select>

    <!-- 특정 연락처 조회 -->
    <select
            id="getPhone"
            resultType="String"
            parameterType="String"
            >
        <![CDATA[
			SELECT phone FROM users WHERE phone = #{phone}
        ]]>
    </select>

    <!-- 로그인 -->
    <select
            id="selectUserById"
            resultType="com.theantiquersroom.myapp.domain.UserDTO">

        <![CDATA[
            SELECT 
				user_id as userId,
				password,
				nickname,
				phone,
				user_type as userType
            FROM users
            WHERE user_id=#{userId}
        ]]>
    </select>
    
    <select 
        id="read"
        resultType="com.theantiquersroom.myapp.domain.UserDTO">
        
        <![CDATA[
			SELECT
			    user_id as userId,
			    password,
			    nickname,
			    phone,
			    user_type as userType,
			    kakao_unique_id
			FROM users
			WHERE user_id=#{userId}
       ]]>
    </select>
    
       <!-- 전화번호로 아이디찾기  -->
    <select
            id="findId"
            resultType="com.theantiquersroom.myapp.domain.UserDTO">
            
		SELECT * FROM users WHERE  phone=#{phone}    
	</select>

        <!-- 회원 정보 삭제 -->
    
    <delete id="delete">
        DELETE FROM users WHERE user_id=#{userId}
    </delete>
    
    
    <!-- 회원 정보 수정 -->
	<update id="update">
	
		<![CDATA[     
	        UPDATE users
	        SET 
	    	    password=#{password},
	            nickname=#{nickName},
	            phone=#{phone}
	        WHERE
	            user_id=#{userId}
		]]>
	</update>
	
	
	<!-- 마이페이지 게시판 총 목록개수 반환 -->
    <select
        id="getMyAuctionTotalCount"
        resultType="int">
        
        <![CDATA[

            SELECT count(p_id)
            FROM product
            WHERE user_id=#{userId}

        ]]>
    </select>
           
           
    <!-- 마이페이지-나의경매리스트 조회 -->
    <select
        id="getMyAuctionList"
        resultType="com.theantiquersroom.myapp.domain.ProductDTO"
        parameterType="hashmap">

        <![CDATA[ 

            SELECT
            	A.p_id as pid,
                A.name,
                A.created_at as createdAt,
                A.updated_at as updatedAt,
                A.content,
                A.category_id as categoryId,
                A.user_id as userId,
                A.started_at as startedAt,
                A.ended_at as endedAt,
                A.started_price as startedPrice,
                A.bid_increment as bidIncrement,
                A.status,
                (select nickname from users as B where B.USER_ID=#{userId}) as nickname,
                (select category_name from category as C where C.category_id=A.category_id) as categoryName,
                (select image_url from product_image as D where D.p_id=A.p_id order by D.index limit 1) as imageUrl,
                (select bid_price from bid_history as E where E.p_id=A.p_id order by E.bid_price desc limit 1) as currPrice
            FROM product as A
            WHERE A.user_id=#{userId}
            ORDER BY A.created_at DESC
            LIMIT #{cri.pageStart}, #{cri.amount}
 

        ]]>
    </select>       
            

    <!-- 카카오 아이디 조회  -->
    <select
            id="getKakaoUser"
            resultType="com.theantiquersroom.myapp.domain.UserDTO"
            parameterType="string">
            
        <![CDATA[
          SELECT * FROM users WHERE kakao_unique_id = #{kakaoUniqueId}
        ]]>
    </select>
    
    <!-- 카카오 회원가입 -->
    <insert
            id="insertKakaoUser"
            parameterType="com.theantiquersroom.myapp.domain.UserDTO">

        <![CDATA[
            INSERT INTO users(USER_ID, NICKNAME, PHONE, USER_TYPE, KAKAO_UNIQUE_ID)
            VALUES (#{userId}, #{nickName}, #{phone}, 3, #{kakaoUniqueId})
        ]]>
    </insert>

    <!--  특정 아이디의 닉네임 조회  -->
    <select
            id="selectUserNickname"
            resultType="String">
        <![CDATA[
            SELECT nickname FROM users WHERE user_id = #{userId}
        ]]>
    </select>

    <!-- 마이페이지 게시판 총 목록개수 반환 -->
    <select
            id="getMyBidTotalCount"
            resultType="int">

        <![CDATA[

        SELECT count(P.p_id)
        FROM product AS P
        WHERE P.p_id IN
              (SELECT p_id FROM bid_history WHERE user_id = #{userId})

        ]]>
    </select>


    <!-- 마이페이지-나의경매리스트 조회 -->
    <select
            id="getMyBidList"
            resultType="com.theantiquersroom.myapp.domain.ProductDTO"
            parameterType="hashmap">

        <![CDATA[
            SELECT
                P.p_id,
                P.name,
                P.created_at,
                P.updated_at,
                P.content,
                P.category_id,
                P.user_id,
                P.started_at,
                P.ended_at,
                P.started_price,
                P.bid_increment,
                P.status,
                TIMESTAMPDIFF(SECOND,NOW(),ended_at) AS lefttime,
                (SELECT PI.image_url
                FROM product_image AS PI
                WHERE PI.p_id = P.p_id
                LIMIT 1) AS imageUrl,
                (SELECT B.bid_price
                FROM bid_history AS B
                WHERE B.p_id = P.p_id
                ORDER BY B.bid_price DESC
                LIMIT 1) AS currPrice,
                (SELECT B.bid_price
                FROM bid_history AS B
                WHERE B.user_id = #{userId} AND B.p_id = P.p_id
                ORDER BY B.bid_price DESC
                LIMIT 1) as myBidPrice,
                IF(P.ended_at < NOW(),false,true) as expiration
            FROM product AS P

            WHERE P.p_id IN
                  (SELECT p_id FROM bid_history WHERE user_id = #{userId})
            ORDER BY P.ended_at DESC
            LIMIT #{pageStart}, #{perPageNum}


        ]]>
    </select>
</mapper>