@charset "UTF-8";



.footer {

    position: absolute;

    left: 0;

    bottom: 0;

    width: 100%;

	padding: 15px 0;

	text-align: center;

	color: white;

	background: #c2b1b1;

}

.svg-inline--fa {
	width: 20px;
	height: 20px;
}