@charset "UTF-8";

/* footer 하단 고정 [S] */
 html, body { 
	 margin: 0; 
	 padding: 0; 
	 height: 100%;
  	}
  
 #body-wrapper { 
	 min-height: 100%; 
	 position: relative; 
	 } 
 
 #body-content { 
	 margin-top: 100px; 
	 padding-bottom: 50px; /* footer의 높이 */ 
 	} 

.footer { 
	width: 100%; 
	height: 50px; /* footer의 높이 */ 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	
	padding: 15px 0;
	color: white;
	background: #c2b1b1;
	text-align: center;
	
	}

.svg-inline--fa {
	width: 20px;
	height: 20px;
}