@charset "UTF-8";

* {
    text-decoration: none;
    color: black;
}

#header_container {
    width: 100vw;
    display: flex;
    flex-direction: column;

    margin-top: 3rem;
}

#logoNsearch {
    display: flex;
    justify-content: space-between;

    padding: 0 20%;
    margin-bottom: 1rem;
}

.logo {
    color: black;
    font-size: 1.1rem;
    font-family: "Merriweather", serif;

    width: 12rem;
    padding-left: 3rem;
}

#logoimg {
    float: left;
}

#loginNout {
    display: flex;
    justify-content: space-around;

    font-family: "Merriweather", serif;

    padding: 0 1.3rem;
    margin-bottom: 0.8rem;
}

.menu_btn {
    font-size: 0.8rem;

    padding: 5px;
    margin-left: 10px;
}

#login_btn {
    border: none;
}

#login_btn:hover {
    cursor: pointer;
}

#mypage_btn {
    border: none;
}

#signin_btn {
    border: 1px solid;
    border-color: #c2b1b1;
    border-radius: 10px;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}

#signin_btn:hover {
    background-color: #c2b1b1;
    color: white;
}

#header_right {
    display: flex;
    justify-content: space-around;

    background-color: #d6b6b6;
    opacity: 60%;
    box-shadow: 2px 2px;

    width: 13.5rem;
}

#search_bar {
    border: none;
    background-color: #d6b6b6;
    opacity: 75%;

    width: 10rem;

    padding: 5px;
    margin-left: 0.2rem;
}

.findIcon {
    background-color: transparent;
    border: none;
    cursor: pointer;

    padding-right: 0.5rem;
}

.findIcon:hover {
    color: #c2b1b1;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d6b6b6;
    opacity: 70%;

    height: 3rem;
}

#navbar ul {
    list-style: none;
}

.menu {
    float: left;
    margin: 0 3rem;
}

.menu:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration: white;
}

.menu_btn > a :hover {
    color: white;
}
