@charset "UTF-8";

* {
	text-decoration: none;
}

.logo {
	color: black;
	/* font-size:36px; */
	font-family: Mercury Display A, Mercury Display B, MercuryDisplay-wb,
		Mercury Display, serif;
}

#header_container {
	margin: 0 15%;
	margin-top: 5%;
}

#logoimg {
	float: left;
}

#header_right {
	float: right;
}

#header_logo {
	width: 50%;
}

.menu_btn {
	float: right;
}

#login_btn {
	font-size: 16px;
}

#signin_btn {
	border: 1px;
	border-color: #c2b1b1;
	border-radius: 5px;
	background-color: #fff;
	font-size: 16px;
}

.menu {
	display: inline;
	font-size: 18px;
	width: 66px;
	height: 31px;
	margin-left: 5%;
	color: black;
}

.menu:hover {
	color: white;
}

#navbar {
	background-color: #D6B6B6;
	opacity: 60%;
}

.base {
	margin: 60px 18% 0 18%;
	padding-top: 9px;
	padding-bottom: 9px;
}

#search_bar {
	border: none;
	background-color: #D6B6B6;
	opacity: 60%;
	padding: 5px;
	padding-left: 5px;
	width: 180px;
/* 	background-image:
		url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='search' class='svg-inline--fa fa-search fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right; */
}

#header_right {
	background-color: #D6B6B6;
	opacity: 60%;
	width: 230px;
}

.findIconLink {
	width: 35px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.findIconLink:hover {
	color: purple;
}