@charset "UTF-8";

* {
	text-decoration: none;
	color: black;
}

.logo {
	color: black;
	/* font-size:36px; */
	font-family: Mercury Display A, Mercury Display B, MercuryDisplay-wb,
		Mercury Display, serif;
	width: 250px;
}

.logo_default {
	width: 250px;
	
}

#header_container {
	margin: 0 15%;
	margin-top: 5%;
}

#logoimg {
	float: left;
}

#header_right {
	float: right;
}

#header_logo {
	width: 50%;
}

.menu_btn {
	float: right;
	padding: 5px;
	margin-left: 10px;
}



#login_btn {
	font-size: 16px;
	border: none;
	
}

#mypage_btn {
	font-size: 16px;
	border: none;
	
}

#signin_btn {
	border: 1px solid;
	border-color: #c2b1b1;
	border-radius: 12px;
	background-color: #fff;
	font-size: 16px;
	padding-right: 10px;
	padding-left: 10px;
}

#signin_btn:hover {
	background-color: #c2b1b1;
	color: white;
}

#navbar {
	background-color: #D6B6B6;
	opacity: 70%;
	margin-right: 10%;
	margin-left: 10%;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.base {
	margin: 70px 18% 0 18%;
	padding-top: 9px;
	padding-bottom: 9px;
}

#search_bar {
	border: none;
	background-color: #D6B6B6;
	opacity: 75%;
	padding: 5px;
	padding-left: 5px;
	width: 180px;
}

#header_right {
	background-color: #D6B6B6;
	opacity: 60%;
	width: 230px;
	box-shadow: 2px 2px;
}

.findIconLink {
	width: 35px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.findIcon:hover {
	color: #C2B1B1;
}

.menu {
	display: inline;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: 8px;
	margin-left: 8px;
}

.menu:hover {
	text-decoration: underline;
	text-underline-position:under;
	text-decoration: white;
}

.menu_btn > a :hover{
	color: white;
}
