@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

#outline {
    width: 30rem;
    height: 30rem;
    background: #ffffff;
    border: 1px solid #c2b1b1;
    border-radius: 30px;
    margin: 6rem auto;
}

#outline form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 30rem;

    margin-left: 4rem;
}

.modifyInput {
    width: 15rem;
    height: 2rem;
    background: #ffffff;
    border: 1px solid #c2b1b1;
    border-radius: 5px;
    margin-right: 3rem;
    padding-left: 0.5rem;
}

.text {
    display: flex;
    justify-content: space-between;
    width: 25rem;

    font-family: "Gowun Dodum", sans-serif;
    font-size: 0.8rem;

    margin-bottom: 1rem;
}

.btnset {
    width: 20rem;
    text-align: center;
    padding-top: 3rem;
}

#modifyBtn,
#cancleBtn {
    border: 1px solid #c2b1b1;
    border-radius: 8px;
    background-color: #c2b1b1;
    color: white;
    font-size: 0.9rem;
    width: 3rem;
    height: 1.8rem;
    margin: 0 1rem;
}

#modifyBtn:hover,
#cancleBtn:hover {
    color: #c2b1b1;
    background-color: white;
}
