@charset "UTF-8";

#modifyBtn,
#cancleBtn {
    border: 1px solid #c2b1b1;
    border-radius: 8px;
    background-color: #c2b1b1;
    color: white;
    font-size: 0.9rem;
    width: 3rem;
    height: 1.8rem;
}

#modifyBtn:hover,
#cancleBtn:hover {
    color: #c2b1b1;
    background-color: white;
}

#outline {
    width: 810px;
    height: 600px;
    background: #ffffff;
    border: 1px solid #c2b1b1;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 6rem auto;
}

#inline {
    margin: 6rem 7rem 7rem 10rem;
}

.modifyInput {
    width: 18rem;
    height: 2rem;
    background: #ffffff;
    border: 1px solid #c2b1b1;
    box-sizing: border-box;
    float: right;
    margin-right: 3rem;
    border-radius: 5px;
}

.btnset {
    /* 버튼 중앙 정렬 */
    float: left;
    margin-left: 12rem;
}

#checkNickName {
    color: #9c0000;
    float: right;
    margin-right: 5rem;
}

.text {
    position: relative;
}

#check {
    position: absolute;
    left: 29rem;
    top: 0.5rem;
    color: #9c0000;
}
