@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: whithsmoke;
}

/* 1. html, body의 최소 높이를 지정 */
html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* 2. header, footer 사이에 본문 내용이 들어갈 div에 flex-grow설정 */
/* 해당 설정은 body에 display: flex 해주었을때만 가능! */

#wrapper{
	flex-grow: calc(100vh-238px);
	display: flex;
    justify-content: center;
	
    width: 100%;
    margin: 5rem 0 10rem 0;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

#myAcutionTbl {
    width: 73%;
    border-collapse: collapse;
    text-align: center;
}

#myAcutionTbl th{
	background-color: #B1A2A2;
    padding: 8px;
}

#myAcutionTbl td{
    padding: 4px;
}

#myAcutionTbl tr{
	border-block: 1px solid #B1A2A2;
}

#myAcutionTbl tr:hover{
    background-color:aliceblue;
}

#topmenu{
	margin-bottom: 5rem;
}

#topmenu > li {
    float: left;

    width: 33%;
    height: 50px;

    text-align: center;
	font-size: 24px;
    list-style: none;
}

#regBtn{
    width: 80px;
    height: 38px;

    border: 0;

    color: white;
    background-color: #9C0000;

    font-size: 14px;
    font-weight: bold;

	border-radius: 15px;
}
form{
	display:inline;
}

input[type=submit] {
    font-size: 14px;
  	cursor: pointer;
}

#modifyBtn {
    width: 40px;
  	height: 28px;
	
	color:black;
  	box-sizing: border-box;
  	background-color: white;
  	border: 1px solid #C2B1B1;
  	border-radius: 10px;
}

#removeBtn {
    width: 40px;
  	height: 28px;
	
	color:white;
  	box-sizing: border-box;
  	background-color: #9C0000;
  	border: 1px solid white;
  	border-radius: 10px;
}

#reRegisterBtn{
	width: 60px;
  	height: 28px;
	
	color:black;
  	box-sizing: border-box;
  	background-color: white;
  	border: 1px solid #C2B1B1;
  	border-radius: 10px;
}

#pagination{
    width: 95%;
    margin: 0 auto;
    color: #B1A2A2;
    font-size: 14px;
    float: right;
    align-items: center;
    display: flex;
}

#paginationForm {
	width: 300px;
}

#pagination ul {
    float : right;
    margin-right : 15%;
}

#pagination li{	
    float: left;
    
    width: 20px;
    height: 25px;
    
    list-style: none;
    text-align : center;
    line-height: 25px;
    text-decoration: none;
    margin: 8px 3px;
    
    border: 1px solid #B1A2A2;
    border-radius: 15px;
    
    background-color: #B1A2A2;
    color:white;
}

#pagination li:hover{
    background-color: #9C0000;
}

.prev, .next{
    width: 50px!important;

    color: white!important;
    background-color: #B1A2A2;
}