* {
    margin: 0;
    padding: 0;
}

html,
body,
#headerBox {
    height: 100vh;
}

#headerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#categoryTitle {
    font-family: Merriweather;
    margin-bottom: 3rem;
    text-align: center;
}

ul {
    padding-inline-start: 0;
}

#myPageWrapper {
    flex-grow: 1;

    width: 100%;
    margin: 5rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: "Nanum Gothic", sans-serif;
    font-size: 0.8rem;
}

#myBidTbl {
    width: 60rem;
    text-align: center;
    border-collapse: collapse;
}

#myBidTbl th {
    background-color: #eacbcb;
    padding: 1rem;
}

#myBidTbl td {
    padding: 4px;
}

#myBidTbl tr {
    border-block: 1px solid #eacbcb;
}

#myBidTbl tr:hover {
    background-color: rgb(227, 182, 174, 0.2);
}

#pagingnationContainer {
    width: 100%;
    text-align: center;
}

.pagination {
    padding-inline-start: 0px;
    margin-bottom: 5%;
}

#currPage {
    border: solid 0.1rem;
    border-color: #c2b1b1;
    background-color: #c2b1b1;
    text-decoration: none;
    color: white;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 20%;
}

.page {
    border: solid 0.1rem;
    border-color: #c2b1b1;
    text-decoration: none;
    color: #3c3c3c;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 20%;
}

.mybtn {
    background-color: brown;
    position: relative;
    width: 5rem;
    height: 2rem;
    color: white;
    border-radius: 6px;
    border: none;
    margin-left: 1.75rem;
}

.reviewWrite {
    background-color: #b1a2a2;
}
