@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html,
body,
#mypage_headerBox {
    min-height: 100vh;
}

body,
#mypage_headerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#mypage_wrapper {
    flex-grow: 1;
    font-family: "Nanum Gothic", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    padding-top: 8rem;
    text-align: center;
}

#info * {
    padding-bottom: 0.5rem;
}

#info div {
    font-size: 0.8rem;
}

.btnset {
    width: 100%;
    margin-block: 3rem;
    text-align: center;
}

#modifyBtn,
#removeBtn {
    border: 1px solid #c2b1b1;
    border-radius: 6px;
    background-color: white;
    color: #c2b1b1;

    padding: 0.2rem 0.3rem;
    margin: 1rem;
}

#modifyBtn:hover,
#removeBtn:hover {
    background-color: #c2b1b1;
    color: white;
}
