@charset "UTF-8";


    #var {

        opacity: 70%;
		margin-right: 10%;
		margin-left: 10%;
        background: #3C3C3C;
        
        text-align: center;
        color: white;

    }

    #mypage {
        padding: 2rem;
       
        
    }

    a {
        color: inherit; /* 링크의 색상 제거 */
        text-decoration: none; /* 링크의 밑줄 제거 */
    }


    