@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html,
body,
#headerBox {
    min-height: 100vh;
}

#headerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#productListWraper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Nanum Gothic", sans-serif;
}

#categoryTitle {
    font-family: "Gowun Dodum", sans-serif;
    margin: 5rem 0 3rem 0;
}

#filterContainer {
    font-size: 0.8rem;
    width: 50rem;
    margin-bottom: 3rem;
    text-align: end;
}

#productListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    gap: 1rem;
    place-items: center;

    width: 60rem;
    list-style: none;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    min-height: 18rem;
    width: 90%;
    border: solid 0.1rem;
    border-radius: 10px;
    border-color: #c2b1b1;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
}

.product p {
    font-size: 0.8rem;
}

#productName {
    font-weight: bold;
    font-size: 1em !important;
    max-width: 9rem;
}

.img {
    height: 10rem;
    width: 10rem;
}

#pagingnationContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10rem;
}

#currPage {
    border: solid 0.1rem;
    border-color: #c2b1b1;
    background-color: #c2b1b1;
    text-decoration: none;
    color: white;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 20%;
}

.page {
    border: solid 0.1rem;
    border-color: #c2b1b1;
    text-decoration: none;
    color: #3c3c3c;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 20%;
}
