@charset "UTF-8";

#QnA_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
}

#QnA_wrapper h2 {
    font-family: "Gowun Dodum", sans-serif;
    text-align: center;
    margin-bottom: 3rem;
}

#tableplace {
    border-collapse: collapse;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 0.8rem;
    width: 40rem;
}

.tablehead:hover {
    background-color: rgb(227, 182, 174, 0.2);
}

#tableplace tr {
    border-block: 1px solid #c1b2b2;
}

.QnAtd,
.QnAth {
    text-align: center;
    padding: 1rem;
}

#content {
    /* 내용이 길어질때 뒷내용 생략 */
    display: block;
    width: 24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#regBtn {
    border: 1px solid #c2b1b1;
    border-radius: 6px;
    cursor: pointer;
    background: #c2b1b1;
    padding: 0.2rem 0.4rem;
    margin-top: 2rem;
}

#regBtn a {
    text-decoration: none;
    color: white;
}

#regBtn:hover,
#regBtn a:hover {
    background-color: transparent;
    color: #c2b1b1;
}

#header {
    background-color: rgb(227, 182, 174, 0.7);
}
