@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html,
body,
#registerReQnA_headerBox {
    min-height: 100vh;
}

body,
#registerReQnA_headerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#registerReQnA_wrapper {
    flex-grow: 1;
    font-family: "Nanum Gothic", sans-serif;

    display: flex;
    justify-content: center;
    margin-top: 5rem;
}



#registerReQnAH2  {
	margin: 10px 200px 0;
	padding-bottom: 30px;
	width: 180px;
	color: black;
}

.registerReQnAInput {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background: none;
	outline: none;
	resize: none;
	border: 0;
	border-bottom: 2px solid #C2B1B1;
}

.registerReQnAtextarea {
	border: 2px solid #C2B1B1;
	outline-color: #C2B1B1;
}

td:before {
	content: attr(type);
	display: block;
	margin: 20px 30px 0;
}

.registerReQnAButton {
	float: right;
	padding: 8px 12px;
	margin: 8px 0 0;
	border: 1px solid #C2B1B1;
	border-radius: 6px;
	cursor: pointer;
	transition: all .3s;
	background: 0;
}

#registerButton:hover {
    background-color: #c2b1b1;
    color: white;
}

#cancleButton:hover {
	background-color: #c2b1b1;
    color: white;
}

