@charset "UTF-8";

	* {
		margin:0;
		padding:0;
	}
	
     #wrapper {

        width: 50.625rem;
        height: 37.5rem;



        background: #FFFFFF;
        box-sizing: border-box;

		float:right;
        margin-top: 5rem;
        margin-right:3rem;
    
    } 
    
/*      #registerTable {
    	margin-right: 15rem;
    	margin-top: 2rem;
    	
    }  */
    
     #info {
   		padding-right:2rem;
    	margin-bottom: 2rem;
    	
    } 
    
    /*
    #wrapper {
       	float:right;
    	margin-right: 22rem;
    	margin-top: 2rem;
    	margin-bottom: 2rem;
    
    } */

