@charset "UTF-8";

body {
	background-color: #F0E9E7;
}

.basecontainer {
	max-width: 390px;
	margin: 0 auto;
}

.top-header {
	position: relative;
	padding: 20px 0 54px;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 768px;
	min-width: 460px;
	text-align: center;
}

.logo {
	font-family: Mercury Display A, Mercury Display B, MercuryDisplay-wb,
		Mercury Display, serif;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	color: black;
}

.regbase {
	text-align: center;
	align-items: center;
}

.join_title {
	text-align: left;
	margin-bottom: 0;
}

.regconfirm {
	width: 390px;
	height: 66px;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #fff;
}

input {
	padding: 24px 16 8 16;
	width: 356px;
	background-color: #fff;
}

input::placeholder {
	color: #00838F;
	opacity: 80%;
}

.registerEmail {
	width: 280px;
	height: 22px;
	font-size: 18px;
	border: none;
	margin-top: 20px;
	padding: 2px;
}

.register {
	width: 350px;
	height: 22px;
	font-size: 18px;
	border: none;
	margin-top: 20px;
	padding: 2px;
}

.regbtn {
	width: 70px;
	align-items: right;
	border-radius: 5px;
	border: 1px solid #D6B6B6;
	background-color: #9C0000;
	color: #D6B6B6;
	padding: 5px;
}

.regbtn:hover {
	color: white;
	background-color: #D6B6B6;
}

.emailbtn{
	position: relative;
	width: 100%;
	align-items: right;
	border-radius: 5px;
	border: 1px solid #D6B6B6;
	background-color: #9C0000;
	color: #D6B6B6;
	padding: 5px;
}

.emailbtn:hover {
	color: white;
	background-color: #D6B6B6;
}

.emailconfirm {
	width: 390px;
	height: 66px;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #fff;
}

.inputbtn {
	width: 300px;
}

p {
	margin-top: 2px;
	padding-left: 22px;
	text-align: left;
	font-size: 14px;
}

#subject {
	text-align: center;
	line-height: 150px;
	font-size: 22px;
}

.submitbtn {
	width: 390px;
	height: 40px;
	align-items: right;
	border-radius: 5px;
	border: 1px solid #D6B6B6;
	background-color: #9C0000;
	color: #D6B6B6;
	padding: 5px;
}

.submitbtn:hover {
	color: white;
	background-color: #D6B6B6;
}