@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html,
body,
#headerBox {
    height: 100vh;
}

#headerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#regReviewWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#registerReviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#topsubject {
    font-family: "Gowun Dodum", sans-serif;
    text-align: center;
    margin: 5rem 0 3rem 0;
}

#reviewBox {
    display: flex;
    border: 2px solid #c1b2b2;
    border-radius: 5px;
    font-size: 0.8rem;
    font-family: "Nanum Gothic", sans-serif;
    height: 30rem;

    padding: 1.2rem;
    margin-bottom: 6rem;
}

#productContainer {
    border: 1px solid #c1b2b2;
    margin-right: 20px;
    height: 25.3rem;
    width: 14rem;
}

#productimg {
    width: 10rem;
    height: auto;
    align-items: center;
}

#imgsection {
    text-align: center;
    margin-top: 20px;
}

.infoContainer {
    padding-left: 1rem;
    margin-top: 1rem;
}

.info {
    margin-top: 8px;
    margin-bottom: 8px;
}

.info > input {
    border: none;
}

.info > input:focus {
    outline: none;
}

#reviewContainer {
    border: 1px solid #c1b2b2;
    padding: 20px;
    height: 23rem;
}

#rating {
    border: 1px solid #c1b2b2;
    width: 60%;
    padding: 5px;
    display: flex;
}

#starRate {
    border: none;
    margin-left: 15px;
    color: #c1b2b2;
    font-size: 20px;
}

#ratingName {
    color: grey;
    padding-top: 3px;
}

#reviewArea {
    border: 1px solid #c1b2b2;
    height: auto;
}

textarea {
    border: none;
    resize: none;
    padding: 1.2rem;
    font-size: 0.8rem;
}

textarea:focus {
    outline: none;
}

.reviewbtn {
    display: flex;
    border: 1px solid #c1b2b2;
    border-radius: 8px;
    background-color: #fff;
    color: #c1b2b2;

    padding: 6px;
    margin: 0 1rem;
}

.reviewbtn:hover {
    background-color: #c1b2b2;
    color: #fff;
    cursor: pointer;
}

#btns {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: end;
    width: 35rem;
    margin-bottom: 0.5rem;
}
