@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #f0e9e7;
}

#userRegister_wrapper {
    font-family: "Nanum Gothic", sans-serif;
    margin-bottom: 5rem;
}

#logoBox {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.logo {
    color: black;
    font-size: 1.1rem;
    font-family: "Merriweather", serif;
    text-decoration: none;
}

#subjectBox {
    text-align: center;
    margin: 5rem 0 3rem 0;
}

#subjectBox h2 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1.5rem;
}

/* #form-container {
} */

.regconfirm,
.emailconfirm {
    display: flex;

    width: 24rem;
    height: 4rem;

    margin-bottom: 1rem;
}

.regconfirm {
    flex-direction: column;
}

.regconfirm div {
    display: flex;
}

#form-container input[type="text"] {
    height: 3rem;
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 1px gray;
    border: 1px solid lightgray;
    border-radius: 5px;

    padding-left: 1rem;
}

#email,
#authInput {
    width: 20rem !important;
    margin-right: 1rem;
}

#form-container input:focus {
    border: none;
}

#form-container input::placeholder {
    font-size: 0.8rem;
}

.regbtn {
    width: 4.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 8px;
    background-color: #9c0000;
    box-shadow: 2px 2px 2px gray;
    font-size: 0.8rem;
    color: whitesmoke;

    padding: 0.4rem;
    margin-top: 0.35rem;
}

.regbtn:hover {
    color: gray;
    background-color: #d6b6b6;
}

.emailbtn,
.submitbtn {
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    background-color: #9c0000;
    box-shadow: 2px 2px 2px gray;
    font-size: 0.8rem;
    color: whitesmoke;
    margin-bottom: 1rem;
}

.submitbtn {
    height: 3.5rem !important;
    font-size: 0.9rem;
    font-weight: 700;
}

.emailbtn:hover,
.submitbtn:hover {
    color: gray;
    background-color: #d6b6b6;
}

p {
    margin-top: 2px;
    padding-left: 1rem;
    text-align: left;
    font-size: 0.8rem;
}

footer {
    width: 100%;
}
