@charset "UTF-8";

#reviewcontainer {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
}

#reviewcontainer h2 {
    font-family: "Gowun Dodum", sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

#tableplace {
    border-collapse: collapse;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 0.8rem;
}

#tableplace tr {
    border-block: 1px solid #c1b2b2;
}

#header {
    background-color: rgb(227, 182, 174, 0.7);
}

.tablehead:hover {
    background-color: rgb(227, 182, 174, 0.2);
}

#tableplace td,
#tableplace th {
    text-align: center;
    padding: 1rem;
}

#tableContent {
    width: 18.75rem;
}

#content {
    text-overflow: ellipsis;
    max-width: 18.75rem;
}

#content:hover {
    cursor: pointer;
}

#img {
    width: 5rem;
    height: 5rem;
}

#modbtn {
	width: 3.5rem;
	color: rgba(194, 177, 177, 0.9);
    font-weight: 800;
    border: 1px solid rgba(194, 177, 177, 0.9);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    text-align: center;
    padding-bottom: 0.2rem;
}
