@charset "UTF-8";

#reviewcontainer {
	padding-bottom: 3.12rem;
	flex-direction: column;
	margin: auto;
}

#tableplace {
	margin: auto;
	border-collapse: collapse;

}

td, th {
	padding-right: 1.87rem;
	padding-left: 1.87rem;
	text-align: center;
	align-items: center;
	border-spacing: 0;

}

tr {
	border-block: 1px solid #C1B2B2;
}

th {
	padding-bottom: 10px;
	padding-top: 10px;
}

#tableContent {
	width: 18.75rem;
}

#content {
	text-overflow: ellipsis;
    max-width: 18.75rem;
}

#content:hover {
	cursor: pointer;
}

.tablehead:hover {
	background-color: rgb(227, 182, 174, 0.2);
}

#header {
	background-color: rgb(227, 182, 174, 0.7);
}

#img {
	width: 5.6rem;
	height: 5.6rem;
}

#modbtn {
	width: 3.5rem;
	color: rgba(194, 177, 177, 0.9);
    font-weight: 800;
    border: 1px solid rgba(194, 177, 177, 0.9);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    text-align: center;
    padding-bottom: 0.2rem;
}
