@charset "UTF-8";

#reviewcontainer {
	padding-top: 100px;
	padding-bottom: 50px;
	flex-direction: column;
	margin: auto;
}

#tableplace {
	margin: auto;
	border-collapse: collapse;
	
}

td, th {
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	align-items: center;
	border-spacing: 0;
	
}

tr {
	border-block: 1px solid #C1B2B2;
}

th {
	padding-bottom: 10px;
	padding-top: 10px;
}

#tableContent {
	width: 300px;
}

#content {
	text-overflow: ellipsis;
    max-width: 300px;
} 

#content:hover {
	cursor: pointer;
}

.tablehead:hover {
	background-color: rgb(227, 182, 174, 0.2);
}

#header {
	background-color: rgb(227, 182, 174, 0.7);
}

#img {
	width: 90px;
	height: 90px;
}